*{
  font-family: "Arima", system-ui;
  font-optical-sizing: auto;
  transition: 1s;
  margin: 0;
  padding: 0;
  color: white;
}

body{
  background-color: black;
}

main {
  width: 95dvw;
  height: 100dvh;

}

p{
  margin: var(--mrgn) var(--mrgn);
}

ul{
  margin: var(--mrgn) var(--mrgn);
}

button{
  margin: var(--mrgn) 10px;
  width: calc(90%);
  background-color: black;
  border: 1px solid aquamarine;
  border-radius: 8px;
}

details{
  padding: 20px 0px;
  margin: 10px;
  border: 1px solid aquamarine;
  transition: 1s;
  border-radius: 8px;
  width: calc(80%);
}

.centrar{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.centrar--centrarCascada{
  flex-direction: column;
}


:root{
  --mrgn: 20px

}